<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Login Administrativo | Alfa Cursos
    </title>

    <!-- CSS -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

    <!-- ========================= -->
    <!-- LOGIN -->
    <!-- ========================= -->

    <section class="login-section">

        <div class="login-container">

            <div class="login-header">

                <h1>
                    Alfa Admin
                </h1>

                <p>
                    Faça login para acessar o painel administrativo.
                </p>

            </div>

            <!-- FORMULÁRIO -->

            <form
                action="/admin"
                method="POST"
            >

                <!-- EMAIL -->

                <div class="form-group">

                    <label>
                        E-mail
                        <br>admin@alfasite.com<br>
                
                    </label>

                    <input
                        type="email"
                        name="email"
                        placeholder="Digite seu e-mail"
                        required
                    >

                </div>

                <!-- SENHA -->

                <div class="form-group">

                    <label>
                        Senha
                        <br>senha_super_segura_123<br>
                    </label>

                    <input
                        type="password"
                        name="senha"
                        placeholder="Digite sua senha"
                        required
                    >

                </div>

                <!-- BOTÃO -->

                <button
                    type="submit"
                    class="btn-login"
                >
                    Entrar
                </button>

            </form>

        </div>

    </section>

</body>

</html>
